<!DOCTYPE html>
<html ng-app="ngCRF">
<head>
    <meta charset="utf-8" />
    <title>EQ-5D</title>

    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/font-awesome.min.css" />
    <link rel="stylesheet" href="../../Content/bootstrap-datetimepicker.css" />

    <!-- Self created style sheet for page -->
    <link rel="stylesheet" href="Form1.css" />

    <script src="../../Scripts/jquery-2.1.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/moment-with-locales.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>
</head>
<body ng-controller="formController">
    <header style="text-align: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>EQ-5D</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <!-- Inclusion Criteria -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>1. General Information - Date of assessment</h3>
                </div>

                <div class="form-body">
                    <!-- Bootstrap date time picker -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                                <div class="form-group">
                                    <div class='input-group date' id='dtInformedConsent'>
                                        <input type='date' class="form-control" ng-model="Form.InclusionCriteria.DateTime"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Bootstrap date time picker -->
                </div>
            </div>
        </div>
        <!-- End of Inclusion Criteria-->
        <!-- Infection Assessment at Hospital Admission -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2.1. Mobility</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="Mobility_Option" class="info-selection" ng-click="Form.Mobility['Mobility_Option'] = true" value="I have no problem in walking about"></td><td>I have no problem in walking about</td></tr>
                            <tr><td><input type="radio" name="Mobility_Option" class="info-selection" ng-click="Form.Mobility['Mobility_Option'] = true" value="I have some problems in walking about"></td><td>I have some problems in walking about</td></tr>
                            <tr><td><input type="radio" name="Mobility_Option" class="info-selection" ng-click="Form.Mobility['Mobility_Option'] = true" value="I am confined to bed"></td><td>I am confined to bed</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Infection Assessment at Hospital Adminssion -->
        <!-- Infection Assessment at Hospital Admission -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2.2. Self-Care</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="Self-Care_Option" class="info-selection"  ng-click="Form.Self-Care_Option['Self-Care_Option'] = true" value="I have no problem with self-care"></td><td>I have no problem with self-care</td></tr>
                            <tr><td><input type="radio" name="Self-Care_Option" class="info-selection"  ng-click="Form.Self-Care_Option['Self-Care_Option'] = true" value="I have some problems washing and drying myself"></td><td>I have some problems washing and drying myself</td></tr>
                            <tr><td><input type="radio" name="Self-Care_Option" class="info-selection"  ng-click="Form.Self-Care_Option['Self-Care_Option'] = true" value="I am unable to wash or dry myself"></td><td>I am unable to wash or dry myself</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Infection Assessment at Hospital Adminssion -->
        <!-- Infection Assessment at Hospital Admission -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2.3. Usual Activites</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="Usual_Activites_Option" class="info-selection"  ng-click="Form.Usual_Activites_Option['Usual_Activites_Option'] = true" value="I have no problem performing my usual activities"></td><td>I have no problem performing my usual activities</td></tr>
                            <tr><td><input type="radio" name="Usual_Activites_Option" class="info-selection"  ng-click="Form.Usual_Activites_Option['Usual_Activites_Option'] = true" value="I have some problems performing my usual activities"></td><td>I have some problems performing my usual activities</td></tr>
                            <tr><td><input type="radio" name="Usual_Activites_Option" class="info-selection"  ng-click="Form.Usual_Activites_Option['Usual_Activites_Option'] = true" value="I am unable to perform my usual activities"></td><td>I am unable to perform my usual activities</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Infection Assessment at Hospital Adminssion -->
        <!-- Infection Assessment at Hospital Admission -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2.4. Pain / Discomfort</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="Pain_Discomfort_Option" class="info-selection"  ng-click="Form.Pain_Discomfort_Option['Pain_Discomfort_Option'] = true" value="I have no pain or discomfort"></td><td>I have no pain or discomfort</td></tr>
                            <tr><td><input type="radio" name="Pain_Discomfort_Option" class="info-selection"  ng-click="Form.Pain_Discomfort_Option['Pain_Discomfort_Option'] = true" value="I have moderate pain or discomfort"></td><td>I have moderate pain or discomfort</td></tr>
                            <tr><td><input type="radio" name="Pain_Discomfort_Option" class="info-selection"  ng-click="Form.Pain_Discomfort_Option['Pain_Discomfort_Option'] = true" value="I have extreme pain or discomfort"></td><td>I have extreme pain or discomfort</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Infection Assessment at Hospital Adminssion -->
        <!-- Infection Assessment at Hospital Admission -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2.5. Anxiety / Depression</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="Anxiety_Depression_Option" class="info-selection"  ng-click="Form.Anxiety_Depression_Option['Anxiety_Depression_Option'] = true" value="I am not anxious or depressed"></td><td>I am not anxious or depressed</td></tr>
                            <tr><td><input type="radio" name="Anxiety_Depression_Option" class="info-selection"  ng-click="Form.Anxiety_Depression_Option['Anxiety_Depression_Option'] = true" value="I am moderately anxious or depressed"></td><td>I am moderately anxious or depressed</td></tr>
                            <tr><td><input type="radio" name="Anxiety_Depression_Option" class="info-selection"  ng-click="Form.Anxiety_Depression_Option['Anxiety_Depression_Option'] = true" value="I am extremely anxious or depressed"></td><td>I am extremely anxious or depressed</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Infection Assessment at Hospital Adminssion -->
        <!-- Infection Assessment at Hospital Admission -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2.6. Overall Score</h3>
                </div>

                <div class="form-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-form-label">Score (out of 100): </label>
                            </div>

                            <div class="col-md-9 input-item">
                                <input type="number" name="txtOverallScore" placeholder="0 / 100" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Infection Assessment at Hospital Adminssion -->
    </div>

    <!-- Navigation Buttons -->
    <div class="container-fluid navbar-fixed" id="navButtons">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-warning" onclick="window.location='../Forms/index.html'">< Back to Forms</button>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            </div>

            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-success" ng-click="PostDataToServer('Form9', Form)">Continue ></button>
            </div>
        </div>
    </div>

    <footer style="margin-top: 20px;">
        <h5><strong>Copyright &copy; <label id="lblFooterYear"></label> - The Belgium Campus</strong></h5>
    </footer>


    <script type="text/javascript">
        document.getElementById('lblFooterYear').innerHTML = (new Date()).getFullYear();

        var toggleVisibility = function ($Element) {
            $('#' + $Element).toggle();
        }

      /*  var DateTimePickers = ["dtInformedConsent", "dtPhysicalAssessment", "dtStudyRandomization", "dtHistoryOfVascularDiseaseStroke", "dtSurgicalInterventionCardiacSurgery", "dtSurgicalInterventionCarotidSurgery", "dtSurgicalInterventionOtherSurgery", "datetimepicker1"];

        $(function () {
            for (i = 0; i < DateTimePickers.length; i++) {
                $('#' + DateTimePickers[i]).datetimepicker().datetimepicker();
            }
        });*/
    </script>
</body>
</html>