<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Study Exit Form</title>

    <link rel="stylesheet" href="../../Content/bootstrap-datetimepicker.css" />

    <!-- Self created style sheet for page -->
    <link rel="stylesheet" href="/Views/Forms/FormBaseCSS.css" />

    <script src="../../Scripts/moment-with-locales.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>
</head>
<body>
    <header style="text-align: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Study Exit Form</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <!--  Date of study exit -->
        <div class="row" id="exit-date">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>1. Date of study exit</h3>
                </div>

                <div class="form-body">
                    <!-- Date -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Date of study exit: </label>
                            </div>

                            <div class="col-md-9">
                                <!-- Bootstrap date time picker -->
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                                            <div class="form-group">
                                                <div class='input-group date' id='dtExit'>
                                                    <input type='date' ng-model="Form.StudyExitForm.DateofStudyExit.datetime" class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Bootstrap date time picker -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of  Date of study exit-->
        <!-- Reasons -->
        <div class="row" id="event-treatment">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>3. Adverse Event Treatment/Intervention</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="checkbox" name="chkExitReason" ng-model="Form.StudyExitForm.chkExitReason.chk1" value="{{Form.StudyExitForm.chkExitReason.chk1}}" class="info-selection"></td><td>Completed all required procedures</td></tr>
                            <tr><td><input type="checkbox" name="chkExitReason" ng-model="Form.StudyExitForm.chkExitReason.chk2" value="{{Form.StudyExitForm.chkExitReason.chk2}}" class="info-selection"></td><td>Withdrew Consent</td></tr>
                            <tr><td><input type="checkbox" name="chkExitReason" ng-model="Form.StudyExitForm.chkExitReason.chk3" value="{{Form.StudyExitForm.chkExitReason.chk3}}" class="info-selection"></td><td>Death</td></tr>                         
                            <tr><td><input type="checkbox" name="chkExitReason" ng-model="Form.StudyExitForm.chkExitReason.chk4" value="{{Form.StudyExitForm.chkExitReason.chk4}}" class="info-selection" onchange="toggleVisibility('txtOtherReason')"></td><td>Other*</td></tr>
                            <tr id="txtOtherReason" class="additional-info-required-dialog">
                                <td colspan="2"><input class="form-control" type="text" ng-model="Form.StudyExitForm.txtOtherReason.text" placeholder="Specify" name="txtOtherReason" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Reasons-->        

    </div>

    <!-- Navigation Buttons -->
    <div class="container-fluid navbar-fixed" id="navButtons">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-warning" onclick="window.location='../Forms/index.html'">< Back to Forms</button>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                
            </div>

            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-success" ng-click="PostDataToServer('Form5', Form)">Continue ></button>
            </div>
        </div>
    </div>

    <footer style="margin-top: 20px;">
        <h5><strong>Copyright &copy; <label id="lblFooterYear"></label> - The Belgium Campus</strong></h5>
    </footer>


    <script type="text/javascript">
        document.getElementById('lblFooterYear').innerHTML = (new Date()).getFullYear();

        var toggleVisibility = function ($Element) {
            $('#' + $Element).toggle();
        }

      /*  var DateTimePickers = ["dtExit"];

        $(function () {
            for (i = 0; i < DateTimePickers.length; i++) {
                $('#' + DateTimePickers[i]).datetimepicker().datetimepicker();
            }
        });
        */
    </script>
</body>
</html>