<!DOCTYPE html>
<html ng-app="ngCRF">
<head>
    <meta charset="utf-8" />
    <title>Expiration Form</title>

    <link rel="stylesheet" href="../../Content/bootstrap-datetimepicker.css" />

    <!-- Self created style sheet for page -->
    <link rel="stylesheet" href="#!/Form1CSS" />

    <script src="../../Scripts/moment-with-locales.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>
</head>
<body ng-controller="formController">
    <header style="text-align: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Expiration Form</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <!-- Inclusion Criteria -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>1. Date Of Death</h3>
                </div>

                <div class="form-body">
                    <!-- Bootstrap date time picker -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                                <div class="form-group">
                                    <div class='input-group date' id='dtDateOfDeath'>
                                        <input type='date' class="form-control"  ng-model="Form.InclusionCriteria.DateTime"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Bootstrap date time picker -->
                </div>
            </div>
        </div>
        <!-- End of Inclusion Criteria-->
        <!-- Exclusion Criteria -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>2. Cause of death</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Cardiac"></td><td>Cardiac</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Non-Cardiac"></td><td>Non-Cardiac</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Unknown"></td><td>Unknown</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Exclusion Criteria-->
        <!-- Exclusion Criteria -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>3. Where did the patient die?</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="IndexHospitalization"></td><td>Index Hospitalization</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Re-hospitalizedtoindexHospital"></td><td>Re-hospitalized to Index Hospital</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Home"></td><td>Home</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="AnotherHospital"></td><td>Another Hospital</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="TextendedCase"></td><td>Extended Care</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="RehabilitationUnit"></td><td>Rehabilitation Unit</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="HursingHome(permanent)"></td><td>Nursing Home (permanent)</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" onchange="toggleVisibility('divDeathLocation')" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Other*"></td><td>Other*</td></tr>
                            <tr id="divDeathLocation" class="additional-info-required-dialog">
                                <td colspan="2"><input class="form-control" type="text" placeholder="Specify" name="txtDeathLocationOther" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Exclusion Criteria-->
        <!-- Exclusion Criteria -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>4. Main Cause of death</h3>
                </div>

                <div class="form-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="MyocardialInfarction"></td><td>Myocardial Infarction</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="AnnularDissection"></td><td>Annular Dissection</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="AorticDissection"></td><td>Aortic Dissection</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Arrthuthmia"></td><td>Arrhythmia</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="BelledingEventMajor"></td><td>Bleeding Event, Major</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Cancer"></td><td>Cancer</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="CardiacArrest"></td><td>Cardiac Arrest</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="CardiacTamponade"></td><td>Cardiac Tamponade</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Andocarditis"></td><td>Endocarditis</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="GastroIntestinalComplications"></td><td>Gastro-Intestinal Complications</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="HeartFailure"></td><td>Heart Failure</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Infection/Inflammation"></td><td>Infection/Inflammation</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="MultipleOrganFailure"></td><td>Multiple Organ Failure</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="NonStructValveDysf"></td><td>Non-struct Valve Dysf.</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Pneumonia"></td><td>Pneumonia</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="PulmonaryEmbolism"></td><td>Pulmonary Embolism</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="RenalFailure"></td><td>Renal Failure</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Respiratory Failure"></td><td>Respiratory Failure</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Sepsis"></td><td>Sepsis</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Hemorrhagic Stroke"></td><td>Hemorrhagic Stroke</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Non-Hemorrhagic Stroke"></td><td>Non-Hemorrhagic Stroke</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Stroke - Cause Unknown"></td><td>Stroke - Cause Unknown</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Sudden Death"></td><td>Sudden Death</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Suicide"></td><td>Suicide</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Thromboembolic Event"></td><td>Thromboembolic Event</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Thrombus"></td><td>Thrombus</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Unknown"></td><td>Unknown</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Vascular Complication (not access-related)"></td><td>Vascular Complication (not access-related)</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Vascular Access-Related Complication"></td><td>Vascular Access-Related Complication</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Valve Migration"></td><td>Valve Migration</td></tr>
                            <tr><td><input type="radio" name="chk5_1" class="info-selection" onchange="toggleVisibility('divMainCauseOfDeath')" ng-model="Form.AdverseEvent.chkEventSeverity.chk1" value="Other*"></td><td>Other*</td></tr>
                            <tr id="divMainCauseOfDeath" class="additional-info-required-dialog">
                                <td colspan="2"><input class="form-control" type="text" placeholder="Specify" name="txtDeathLocationOther" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Exclusion Criteria-->
        <!-- Physical Assessment -->
        <div class="row" id="physical-assessment">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                <div class="form-header">
                    <h3>5. Narrative</h3>
                </div>

                <div class="form-body">
                    <div class="container-fluid">
                        <!-- Height -->
                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-form-label">Narrative: </label>
                            </div>

                            <div class="col-md-9 input-item">
                                <input style="height: 7em" type="text" name="txtPhysicalAssessmentHeight" placeholder="" class="form-control" ng-model="PhysicalAssessmentHeight" value="PhysicalAssessmentHeight "/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of physical assessment -->
    </div>

    <!-- Navigation Buttons -->
    <div class="container-fluid navbar-fixed" id="navButtons">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-warning" onclick="window.location='../Forms/index.html'">< Back to Forms</button>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            </div>

            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-success" ng-click="PostDataToServer('Form7', Form)">Continue ></button>
            </div>
        </div>
    </div>

    <footer style="margin-top: 20px;">
        <h5><strong>Copyright &copy; <label id="lblFooterYear"></label> - The Belgium Campus</strong></h5>
    </footer>


    <script type="text/javascript">
        document.getElementById('lblFooterYear').innerHTML = (new Date()).getFullYear();

        var toggleVisibility = function ($Element) {
            $('#' + $Element).toggle();
        }

    /*    var DateTimePickers = ["dtDateOfDeath"];

        $(function () {
            for (i = 0; i < DateTimePickers.length; i++) {
                $('#' + DateTimePickers[i]).datetimepicker().datetimepicker();
            }
        });
        */
    </script>
</body>
</html>