<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MoCA - Blind</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/font-awesome.min.css" />
    <link rel="stylesheet" href="../../Content/bootstrap-datetimepicker.css" />


    <!-- Self created style sheet for page -->
    <link rel="stylesheet" href="Form10.css" />

    <script src="../../Scripts/jquery-2.1.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/moment-with-locales.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>
</head>
<body>
    <header style="text-align: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>MoCA-Blind</h2>
                </div>
            </div>
        </div>
    </header>


    <!-- Date-Time Assessment -->
    <div class="flex-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                    <div class="form-header">
                        <h3>1. Date/Time of Assessment</h3>
                    </div>

                    <div class="form-body">
                        <!-- Bootstrap date time picker -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                                    <div class="form-group">
                                        <div class='input-group date' id='dtInformedConsent'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Bootstrap date time picker -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MoCA-Blind-Questionnaire -->
    <div class="flex-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-grouping">
                    <div class="form-header">
                        <h3>2. MoCA-Blind Questionnaire</h3>
                    </div>



                    <div class="container-fluid">
                        <div class="flex-container">
                            <div class="row">
                                <div class="col-12 form-grouping">
                                    <div class="form-header">
                                        <h4>2.1 Memory</h4>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">
                                Read list of words,
                                subject must repeat them
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                FACE
                            </div>
                            <div class="col" style="border: 1px solid black">
                                VELVET
                            </div>
                            <div class="col" style="border: 1px solid black">
                                CHURCH
                            </div>
                            <div class="col" style="border: 1px solid black">
                                DAISY
                            </div>
                            <div class="col" style="border: 1px solid black">
                                RED
                            </div>
                            <div class="col" style="border: 1px solid black">
                                No Points
                            </div>
                        </div>


                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">
                            </div>
                            <div class="col" style="border: 1px solid black">
                                1st Trial
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>



                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">
                            </div>
                            <div class="col" style="border: 1px solid black">
                                2nd Trial
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>
                    </div>







                    <!-- ATTENTION-->
                    <div class="container-fluid">
                        <div class="flex-container">
                            <div class="col-12 form-grouping">
                                <div class="form-header">
                                    <h4>2.2 Attention</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">
                                Read list of digits (1 digit/sec)
                            </div>
                            <div class="col" style="border: 1px solid black">
                                Subject had to repeat them in the forward order
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>2 1 8 5 4</label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>

                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                Subject had to repeat them in the backwards order
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>7 4 2</label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>

                        <div class="row" style="border: 1px solid black">
                            <div class="col-3" style="border: 1px solid black">
                                Read list of letters. No point if > 2 errors
                            </div>
                            <div class="col-3" style="border: 1px solid black">
                                Subject must tap with his hand at each letter A.
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>

                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input style="text-align:left" type="checkbox" name="chk2_1" class="info-selection"><h4 style="text-align:left"><label><b>F B A C M N A A J K L B A F A K D E A A A J A M O F A A B </b></label></h4>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>


                        <div class="row" style="border: 1px solid black">
                            <div class="col" style="border: 1px solid black">
                                Serial 7 subtraction starting at 100
                            </div>
                            <div class="col" style="border: 1px solid black">
                                Subject had to repeat them in the forward order
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>93</label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>86</label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>79</label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>72</label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>65</label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>

                        <div class="row" style="border: 1px solid black">
                            <div class="col-3" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                4 or 6 correct subtractions. 3 points. 2 or 3 correct. 2 points. 1 correct 1 point. 0 correct. 0 points.
                            </div>

                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>
                    </div>

                    <!--Language-->

                    <div class="container-fluid">
                        <div class="flex-container">
                            <div class="col-12 form-grouping">
                                <div class="form-header">
                                    <h4>2.3 Language</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="text-wrap : normal; border: 1px solid black">
                                Repeat
                            </div>
                            <div class="col" style="text-wrap : normal; border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>I only know that John is the one to help today </label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="text-wrap : normal; border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label>the cat always hid under the couch when dogs were in the room </label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>

                        </div>


                        <div class="row">
                            <div class="col" style="text-wrap : normal; border: 1px solid black">
                                Fleuncy
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <label style="text-wrap : normal;">Name maximum number of words in one minute that begin with the letter F. </label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="text-wrap : normal; border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection" style="text-wrap : normal; border: 1px solid black"> <label>( N > 11 words)</label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>
                    </div>

                    <!--Abstraction-->

                    <div class="container-fluid">
                        <div class="flex-container">
                            <div class="col-12 form-grouping">
                                <div class="form-header">
                                    <h4>2.4 Abstraction</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="border: 1px solid black">

                        </div>
                        <div class="col" style="border: 1px solid black">
                            <label> Similarity between e.g. banan - orange = fruit. </label>
                        </div>
                        <div class="col" style="border: 1px solid black">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col" style="border: 1px solid black">

                        </div>
                        <div class="col" style="border: 1px solid black">
                            <input type="checkbox" name="chk2_1" class="info-selection"> <label> train - bicycle </label>
                        </div>
                        <div class="col" style="border: 1px solid black">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="border: 1px solid black">
                        </div>
                        <div class="col" style="border: 1px solid black">
                            <input type="checkbox" name="chk2_1" class="info-selection"> <label>watch - ruler </label>
                        </div>
                        <div class="col" style="border: 1px solid black">

                        </div>
                    </div>




                    <!--DELAYED RECALL-->
                    <div class="container-fluid">
                        <div class="flex-container">
                            <div class="col-12 form-grouping">
                                <div class="form-header">
                                    <h4>2.5 Delayed Recall</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1" style="border: 1px solid black">
                                Has to recall words with no cue
                            </div>
                            <div class="col" style="border: 1px solid black">
                                FACE
                            </div>
                            <div class="col" style="border: 1px solid black">
                                VELVET
                            </div>
                            <div class="col" style="border: 1px solid black">
                                CHURCH
                            </div>
                            <div class="col" style="border: 1px solid black">
                                DAISY
                            </div>
                            <div class="col" style="border: 1px solid black">
                                RED
                            </div>
                            <div class="col " style="border: 1px solid black">
                                Points for uncued only
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-1" style="border: 1px solid black">
                                Category cue
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>

                        </div>



                        <div class="row">
                            <div class="col-1" style="border: 1px solid black">
                                Multiple choice
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>

                        </div>
                    </div>

                    <!--Orientation-->
                    <div class="container-fluid">
                        <div class="flex-container">
                            <div class="col-12 form-grouping">
                                <div class="form-header">
                                    <h4>2.6 Orientation</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label> Date </label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label> Month </label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label> Year </label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label> Day </label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label> Place </label>
                            </div>
                            <div class="col" style="border: 1px solid black">
                                <input type="checkbox" name="chk2_1" class="info-selection"> <label> City </label>
                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>

                        </div>


                        <div class="row">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                __/6
                            </div>
                        </div>



                        <div class="row">
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">

                            </div>
                            <div class="col" style="border: 1px solid black">
                                Total
                            </div>
                            <div class="col" style="border: 1px solid black">
                                __/22
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- End of MoCA-Blind-Questionnaire -->
    <!-- Navigation Buttons -->
    <div class="container-fluid navbar-fixed" id="navButtons">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-warning" onclick="window.location='../Forms/index.html'">< Back to Forms</button>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            </div>

            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-success" onclick="window.location='../Forms/index.html'">Continue ></button>
            </div>
        </div>
    </div>

    <footer style="margin-top: 20px;">
        <h5><strong>Copyright &copy; <label id="lblFooterYear"></label> - The Belgium Campus</strong></h5>
    </footer>


    <script type="text/javascript">
        document.getElementById('lblFooterYear').innerHTML = (new Date()).getFullYear();

        var toggleVisibility = function ($Element) {
            $('#' + $Element).toggle();
        }

        var DateTimePickers = ["dtInformedConsent", "dtPhysicalAssessment", "dtStudyRandomization", "dtHistoryOfVascularDiseaseStroke", "dtSurgicalInterventionCardiacSurgery", "dtSurgicalInterventionCarotidSurgery", "dtSurgicalInterventionOtherSurgery", "datetimepicker1"];

        $(function () {
            for (i = 0; i < DateTimePickers.length; i++) {
                $('#' + DateTimePickers[i]).datetimepicker().datetimepicker();
            }
        });
    </script>
</body>
</html>