<!DOCTYPE html>
<html ng-app="ngCRF">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />

    <script src="../../Scripts/jquery-2.1.1.min.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/ngCRF.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/moment-with-locales.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.0/ui-bootstrap-tpls.js"></script>
    <script src="../../Scripts/datetime-picker.js"></script>
</head>
<body ng-controller="formController">
    <h2>Click <a href="Form1.html">here</a> to go to Form 1</h2>
    <h2>Click <a href="Form2.html">here</a> to go to Form 2</h2>
    <h2>Click <a href="Form3.html">here</a> to go to Form 3</h2>
    <h2>Click <a href="Form4.html">here</a> to go to Form 4</h2>
    <h2>Click <a href="Form5.html">here</a> to go to Form 5</h2>
    <h2>Click <a href="Form6.html">here</a> to go to Form 6</h2>
    <h2>Click <a href="Form7.html">here</a> to go to Form 7</h2>
    <h2>Click <a href="Form8.html">here</a> to go to Form 8</h2>
    <h2>Click <a href="Form9.html">here</a> to go to Form 9</h2>
    <h2>Click <a href="Form10.html">here</a> to go to Form 10</h2>
    <h2>Click <a href="Form11.html">here</a> to go to Form 11</h2>
    <h2>Click <a href="Form12.html">here</a> to go to Form 12</h2>

    <h2>Click <a href="../index.html">here</a> to go back to the dashboard</h2>
</body>
</html>