<!DOCTYPE html>
<html ng-app="ngCRF">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Click <a href="#!/Form1">here</a> to go to Form 1</h2>
    <h2>Click <a href="#!/Form2">here</a> to go to Form 2</h2>
    <h2>Click <a href="#!/Form3">here</a> to go to Form 3</h2>
    <h2>Click <a href="#!/Form4">here</a> to go to Form 4</h2>
    <h2>Click <a href="#!/Form5">here</a> to go to Form 5</h2>
    <h2>Click <a href="#!/Form6">here</a> to go to Form 6</h2>
    <h2>Click <a href="#!/Form7">here</a> to go to Form 7</h2>
    <h2>Click <a href="#!/Form8">here</a> to go to Form 8</h2>
    <h2>Click <a href="#!/Form9">here</a> to go to Form 9</h2>
    <h2>Click <a href="#!/Form10">here</a> to go to Form 10</h2>
    <h2>Click <a href="#!/Form11">here</a> to go to Form 11</h2>
    <h2>Click <a href="#!/Form12">here</a> to go to Form 12</h2>

    <h2>Click <a href="#!/">here</a> to go back to the dashboard</h2>
</body>
</html>